[submodule "nx-hbloader"]
	path = nx-hbloader
	url = https://github.com/switchbrew/nx-hbloader.git
[submodule "nx-hbmenu"]
	path = nx-hbmenu
	url = https://github.com/switchbrew/nx-hbmenu.git
[submodule "Atmosphere"]
	path = Atmosphere
	url = https://github.com/Atmosphere-NX/Atmosphere.git
[submodule "Tinfoil"]
	path = Tinfoil
	url = https://github.com/Adubbz/Tinfoil.git
[submodule "NX-Shell"]
	path = NX-Shell
	url = https://github.com/joel16/NX-Shell.git
	branch = gh-pages
[submodule "ReiNX"]
	path = ReiNX
	url = https://github.com/Reisyukaku/ReiNX.git
[submodule "JKSV"]
	path = JKSV
	url = https://github.com/J-D-K/JKSV.git
[submodule "Hekate"]
	path = Hekate
url=https://github.com/balika011/hekate.git